:root {
  --font-primary: Lato, Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --font-display: "IBM Plex Sans", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --font-code: "IBM Plex Mono", Menlo, Monaco, Consolas, "Liberation Mono",
    "Courier New", monospace;
  --font-size-xs: 1.15rem;
  --font-size-sm: 1.3rem;
  --font-size-md: 1.5rem;
  --font-size-lg: 1.8rem;
  --font-size-xl: 2.4rem;
  --line-height: 1.6;
  --color-back: #fff;
  --color-front: #444;
  --color-theme: #09a3d5;
  --color-theme-dark: #1095bf;
  --color-theme-contrast: #fff;
  --color-subtle-dark: #777;
  --color-subtle-medium: #eee;
  --color-subtle-light: #f9f9f9;
  --color-background-code: rgba(122, 129, 129, 0.09);
  --color-button-primary: #29c15b;
  --color-button-primary-contrast: #fff;
  --color-button-secondary: #cdcdd4;
  --color-button-secondary-contrast: #686873;
  --color-button-danger: #d21313;
  --color-button-danger-contrast: #fff;
  --color-correct-light: #e3fde8;
  --color-correct-dark: #007737;
  --color-incorrect-light: #fde7e7;
  --color-incorrect-dark: #d21313;
  --syntax-background: #f7f7f7;
  --syntax-text: #403f53;
  --syntax-selected-background: rgba(122, 129, 129, 0.17);
  --syntax-comment: #989fb1;
  --syntax-tag: #994cc3;
  --syntax-number: #aa0982;
  --syntax-selector: #994cc3;
  --syntax-operator: #994cc3;
  --syntax-function: #4876d6;
  --syntax-keyword: #994cc3;
  --syntax-regex: #5ca7e4;
  --ansi-green: #12dc55;
  --ansi-red: #f76464;
  --ansi-cyan: #00d8ff;
  --plyr-color-main: var(--color-theme);
  --plyr-font-family: var(--font-primary);
  --width-container: 800px;
  --size-profile-pic: 125px;
  --border-radius: 5px;
}

@font-face {
  font-family: "Recoleta";
  src: url("./fonts/Recoleta-RegularDEMO.otf");
}

html,
body {
  font-size: 14px;
  font-family: var(--font-display);
  line-height: var(--line-height);
}

a {
  background-color: transparent;
  color: inherit;
}

h1,
h2 {
  font-family: "Recoleta";
}

h1 {
  font-size: var(--font-size-xl);
  margin-bottom: 2rem;
}

h2 {
  font-size: var(--font-size-lg);
  margin-bottom: 1.5rem;
}

p {
  font-size: 20px;
  line-height: 40px;
}

nav {
  display: flex;
  width: 100%;
  margin: auto;
  justify-content: space-around;
  margin-bottom: 30px;
}

.navBtns {
  padding: 10px 20px;
  text-decoration: none;
  font-size: 1.25em;
}

.navBtns:hover {
  background-color: #f4f4f5;
  border-radius: 9999px;

}

footer {
  display: flex;
  width: 100%;
  margin: auto;
  justify-content: space-around;
  margin-bottom: 30px;
  margin-top: 30px;
}

.underline {
  text-decoration: underline;
}

.no-underline {
  text-decoration: none;
}

.cursor-pointer {
  cursor: pointer;
}

.page {
  width: 65%;
  max-width: 100%;
  margin: 0 auto;
}

.courseSummary {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(2, 1fr);
}

.span-col-2 {
  grid-column: span 2;
}

.courseNumber {
  font-size: 5em;
  line-height: 1px;
  color: rgb(185, 177, 177);
}

.summary > div {
  display: flex;
  flex-direction: column;
  height: 35vh;
  text-align: center;
  justify-content: center;
  align-items: center;
  border: solid rgba(244, 244, 245);
  border-width: 1px;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  box-shadow: 0 10px 30px -3px rgba(0, 0, 0, 0.08),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  border-radius: 5px;
  cursor: pointer;
}

.summary > div:hover {
  background-color: rgba(238, 238, 238, 0.04);
  box-shadow: 0 10px 30px -3px rgba(0, 0, 0, 0.38),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  transition: 0.3s;
}

.summary .title {
  display: flex;
  justify-content: center;
}

.summary .title svg {
  height: 25px;
  width: 25px;
  color: var(--color-subtle-medium);
}

.summary .title svg.enrolled {
  color: var(--color-theme-dark);
}

.summary .title svg.complete {
  color: var(--color-button-primary);
}

.summary p {
  font-size: var(--font-size-sm);
  color: var(--color-subtle-dark);
  margin: 0;
}
.login-form{
  display: flex;
  flex-direction: column;
  height: 55vh;
  text-align: center;
  justify-content: center;
  align-items: center;
  border: solid rgba(244, 244, 245);
  border-width: 1px;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  box-shadow: 0 10px 30px -3px rgba(0, 0, 0, 0.08),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  border-radius: 5px;
}

.signup-form{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 30vh;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.input_form {
  font-size: 1.5em;
  height: 50px;
  width: 250px;
  border-radius: 5px;
  border-width: 1px;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
}

.input-label{
  font-size: 1.3em;
  padding-right: 10px;
}

.quizBtns {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(2, 1fr);
}
.lesson__side-bar{
  height: 100%;
}
.side-bar__btns{
  text-align: left;
  font-size: 1.4em;
  background-color: white;
  padding: 20px 40px;
  border: solid rgba(244, 244, 245);
  border-width: 1px;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  cursor: pointer;
  box-shadow: 0 10px 30px -3px rgba(0, 0, 0, 0.02),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
}
.side-bar__btns:hover {
  background-color: #09a3d5;
  color: white;
  opacity: 0.9;
  transition: 0.3s;
}

.side-bar__active{
  background-color: #09a3d5;
  color: white;
}

.courseBtn {
  font-size: 1.5em;
  background-color: white;
  padding: 10px 40px;
  border-radius: 9999px;
  border: solid rgba(244, 244, 245);
  border-width: 1px;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  cursor: pointer;
  box-shadow: 0 10px 30px -3px rgba(0, 0, 0, 0.08),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.courseBtn:hover {
  background-color: black;
  color: white;
  opacity: 0.9;
  transition: 0.3s;
}
.Lesson {
  display: flex;
}

.lesson__side-bar{
display: flex;
flex-direction: column;
width: 20%;
}

.lesson__content{
  width: 100%;
}

.Lesson header,
.Course header {
  margin-bottom: 2rem;
}

.Home header h1 {
  text-align: center;
}

.page header p {
  font-size: var(--font-size-xs);
  color: var(--color-subtle-dark);
}

.button.auth {
  padding: 0.75rem 1.5rem;
  font-size: var(--font-size-xs);
  background: var(--color-subtle-medium);
  border: 0;
  font-family: var(--font-primary);
  font-weight: 700;
  border-radius: var(--border-radius);
  transition: opacity 0.2s ease;
  cursor: pointer;
}

.button.primary {
  padding: 1rem 1.5rem;
  font-size: var(--font-size-xs);
  background: var(--color-theme);
  color: var(--color-theme-contrast);
  border: 0;
  font-family: var(--font-primary);
  font-weight: 700;
  border-radius: var(--border-radius);
  transition: opacity 0.2s ease;
  cursor: pointer;
  text-decoration: none;
  line-height: 1.2;
}

.button.primary.complete.btn {
  margin-top: 20px;
}

.button.primary:hover {
  background: var(--color-theme-dark);
}

.button.primary.icon {
  display: inline-flex;
}

.button.primary.icon svg {
  margin-left: 7px;
  height: 20px;
  width: 20px;
}

.lessonNavigateBtns {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}

.faq__info-text {
  padding-bottom: 30px;
}

@media (max-height: 850px) {
  .summary > div {
    height: 40vh;
  }
}

@keyframes spinner {
  from {
    transform: rotate(0turn);
  }

  to {
    transform: rotate(1turn);
  }
}
